# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# Saved images
saved_images/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db